POSTGRES_DB=smart_utility
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DB_SCHEMA=utility

LOAD_TO_POSTGRES=false
API_AUTO_LOAD_DATA=true

NUM_CUSTOMERS=1000
NUM_METERS=1200
START_DATE=2025-01-01
END_DATE=2025-12-31
RANDOM_SEED=42

MISSING_READING_RATE=0.035
DUPLICATE_READING_RATE=0.0075
ANOMALY_RATE=0.015
INACTIVE_METER_RATE=0.04
ESTIMATED_READING_RATE=0.06
DELAYED_READING_RATE=0.03

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
